{% extends 'base.html' %}


{% block content %}

<h1>Post List</h1>
    <div> User : {{ request.user }}</div>
    <div>Authenticated : {{ request.user.is_authenticated }}</div>

    {% for post in posts %}
    <div>{{ post.author }}</div>
    <div>{{ post.created }}</div>


    <form action="{% url 'posts:post-like' pk=post.pk %}" method="POST">
        {% csrf_token %}
        {% if post in user.like_post_set.all %}
            <div>좋아요 눌린 상태</div>
        {% else %}
            <div>좋아요 안 눌린 상태</div>
        {% endif %}
        <button type="submit">좋아요</button>
    </form>
    <hr>
    {% endfor %}
{% endblock %}